<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Maratona Full Cycle 2.0 - Desafio 3</title>
        <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Maratona Full Cycle 2.0 - Desafio 3</h1>
    <a href="/receiver" target="_blank">Page receiver</a>
    </br></br>
    <a href="/sender" target="_blank">Page sender</a>
  </body>
</html>